<form [formGroup]="userForm" (ngSubmit)="onSubmit()">

  <div>
    <label>
      Username:
      <input type="text" formControlName="username" >
    </label>
  </div>

  <div formGroupName="credentials">


    <div>
      <label>
        Email:
        <input type="email" formControlName="email" >
        <div *ngIf="userForm.get('credentials.email').errors && !userForm.get('credentials.email').pristine" class="error-msg">
          <div [hidden]="!userForm.get('credentials.email').errors.required">email is required.</div>
          <div [hidden]="!userForm.get('credentials.email').invalid">email is invalid.</div>
      </div>
      </label>
    </div>

  </div>



  <div>
    <label>
      Password:
      <input type="password" formControlName="password" >
    </label>
  </div>

  Adresse :

  <div>
    <label>
      Street:
      <input type="text" formControlName="street" >
    </label>
  </div>

  <div>
    <label>
      Number:
      <input type="text" formControlName="number" >
    </label>
  </div>

  <div>
    <label>
      PostCode:
      <input type="text" formControlName="postcode" >
    </label>
  </div>

  <div>
    <label>
      City:
      <input type="text" formControlName="city" >
    </label>
  </div>

  <button type="submit"  >Inscription</button>


</form>



<!-- <div *ngIf="user">
  <p>Username : {{ user.username }}</p>
  <p>Email: {{ user.email }}</p>
  <p>Password: {{ user.password }} </p>
  Adresse :
  <p>Street: {{ user.street }} </p>
  <p>Number: {{ user.number }} </p>
  <p>PostCode: {{user.postcode }}</p>
  <p> City: {{ user.city }} </p>
</div> -->
