<form [formGroup]="userForm" (ngSubmit)="onSubmit()">
<div>
  <div>
    <label>
      Username:
      <input type="text" formControlName="username" >
    </label>
  </div>

<div formGroupName="credentials">


  <div>
    <label>
      Email:
      <input type="email" formControlName="email" >
    </label>
  </div>

  <div>
    <label>
      Password:
      <input type="password" formControlName="password" >
    </label>
  </div>



</div>



  Adresse :

  <div>
    <label>
      Street:
      <input type="text" formControlName="street" >
    </label>
  </div>

  <div>
    <label>
      Number:name

  <div>
    <label>
      PostCode:
      <input type="text" formControlName="postcode" >
    </label>
  </div>
  <div>
    <label>
      City:
      <input type="text" formControlName="city" >
    </label>
  </div>
  <button type="submit" [disabled]="!userForm.valid" >Inscription</button>

</div>
</form>



<!-- <div *ngIf="user">
  <p>Username : {{ user.username }}</p>
  <p>Email: {{ user.email }}</p>
  <p>Password: {{ user.password }} </p>
  Adresse :
  <p>Street: {{ user.street }} </p>
  <p>Number: {{ user.number }} </p>
  <p>PostCode: {{user.postcode }}</p>
  <p> City: {{ user.city }} </p>
</div> -->
